:host {
    position: absolute;
    width: 50px;
    height: 50px;
}

button {
    display: block;
    appearance: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: grey;
}

button.increment {
    background-color: green;
}

button.decrement {
    background-color: red;
}
